[package]
name = "axum_database_sessions"
version = "2.0.0"
authors = ["Andrew Wheeler <genusistimelord@gmail.com>"]
description = "Library to Provide a SQLx Database Session management layer."
edition = "2021"
license = "MIT"
readme = "README.md"
documentation = "https://docs.rs/axum_database_sessions"
keywords = ["Axum", "Tower", "SQLx", "Session"]
repository = "https://github.com/AscendingCreations/AxumSessions"

[features]
default = ["postgres", "rustls"]
sqlite = ["sqlx/sqlite"]
postgres = ["sqlx/postgres"]
mysql = ["sqlx/mysql"]
rustls = ["sqlx/runtime-tokio-rustls"]
native-tls = ["sqlx/runtime-tokio-native-tls"]

[dependencies]
axum-core = "0.2.4"
serde = "1.0.137"
serde_json = "1.0.81"
chrono = { version = "0.4.19", features = ["clock", "serde", "std"] }
tokio = { version = "1.18.2", features = ["full"] }
async-trait = "0.1.53"
tracing = "0.1.34"
thiserror = "1.0.31"
http-body = "0.4.4"
uuid = { version = "0.8.2", features = ["v4", "serde"] }
http = "0.2.7"
tower-layer = "0.3.1"
tower-service = "0.3.1"
sqlx = { version = "0.5.13", default-features = false, features = [
    "chrono",
    "uuid",
] }
cookie = { version = "0.16.0", features = ["percent-encode"] }
futures = "0.3.21"
bytes = "1.1.0"

[dev-dependencies]
anyhow = "1.0.57"
axum = "0.5.6"

[package.metadata.docs.rs]
features = ["postgres", "rustls"]
